@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  padding: 15px;
  outline: none;
  border: 1px solid #dee0ea;
}

input:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.45);
}

button {
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 15px 25px;
  background-color: transparent;
}

.btn-green {
  background-color: #03C03C;
  color: #fff;
}

.btn-purple {
  background-color: #8A2BE2;
  color: #fff;
}

.btn-red {
  background-color: #FF0800;
  color: #fff;
}

.small-btn {
  width: 25%;
}